.text-align{
    text-align: center;
    color:#00ffcc;
    font-family:monospace ;
    font-size: 60px;
}
.font{
    font-size:45px ;
}
body{
    background-color: #003333;
}
.img{
    display: block;
    margin: 10px auto;
    width: 500px;
    border-radius: 25px;
}
.btn{
    display: block;
    margin-top: 20px;
    margin: 20px auto;
    color: #001e1d;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background-color:#f9bc60 ;
}
.no-underline{
    text-decoration: none;
}